
.tablon h2,p{
  font-size:100%;
  font-weight:normal;
  
}

.tablon a img{
	-webkit-transform: rotate(90deg) !important;
    -o-transform: rotate(90deg) !important;
    -moz-transform:rotate(90deg) !important;
    width: 18%;
    right: 4px;
    position: absolute;
}

.tablon .close{
	  color: black;
    position: absolute;
    opacity: 1;
    top: -8%;
    right: -4%;
}

.tablon .close i{
	font-size:140%;
}

.tablon h2{
	
	margin: 0;
	
	font-size:90% !important;
}
.tablon p{
	margin: 0;
	font-size:92% !important;
}
.tablon li{
  list-style:none;
}
.tablon {
  overflow:hidden;
  padding:1em;
}
.tablon li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
}
.tablon li{
  margin:1em;
  float:left;
}

.tablon li h2{
  font-size:140%;
  font-weight:bold;
  padding-bottom:10px;
}
.tablon li p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:180%;
}
.tablon li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}
.tablon li a{
  -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);
}

.tablon li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
}
.tablon li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
}
.tablon li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
.tablon > li a:hover,.tablon > li a:focus{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25) !important;
  -moz-transform: scale(1.25) !important;
  -o-transform: scale(1.25) !important;
  position:relative;
  z-index:5;
  color:black;
}

.tablon > li a .fecha{
    position: absolute;
    bottom: 2%;
    font-size: 60%;
}
.tablon > li a .autor{
    position: absolute;
    bottom: 2%;
    right:5%;
    float:right;
    font-size: 60%;
}

.tablon li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
.tablon li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
.tablon li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}
